.task {
  font-size: 18px;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}

.task p {
  display: inline-block;
  min-width: 300px;
}

.fas {
  opacity: 0;
}
.red-check {
  color: rgb(245, 116, 116);
  opacity: 1;
  transition: color 2s ease;
  transition: transform 500ms ease;
}

.red-check:hover {
  color: red;
  transform: rotate(-90deg) scale(1.55);
}

.selected {
  color: rgb(119, 116, 116);
  font-style: italic;
  text-decoration: line-through;
}

.hidden {
  visibility: hidden;
}
